{% extends 'base.html.twig' %}
{% block body %}
    <div>
        {# todo: afficher le formulaire #}
    </div>
{% endblock %}
{% block title %}
    créer une nouvelle fiche oiseau  | {{ parent() }}
{% endblock %}