{% extends 'base.html.twig' %}

{% block title %}
    todo afficher le titre de l'oiseau  | parent()
{% endblock %}

{% block body %}
<h2> titre oiseau </h2>

affichage toutes infos sur l'oiseau

{% endblock %}