{% extends "base.html.twig" %}


{% block body %}
    <div >

        <h1>Bienvenue chez <br> Pépé JO </h1>
    </div>
    <div>
        <img src="{{ asset('img/pepeJo.png') }}" alt="Pépé JO">
    </div>
        <div>
            <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec mi vel lorem faucibus fermentum.
            Integer non commodo urna. Nullam congue orci non tincidunt maximus. Sed feugiat auctor nisl. Etiam interdum accumsan quam.
            Nulla accumsan nulla nulla, vitae malesuada urna venenatis ac.
            Proin at consectetur urna, ac pulvinar nunc. Duis sit amet finibus erat.
            In eu scelerisque felis, pharetra vestibulum nunc. Nulla vitae lacus a quam placerat varius vitae in ex.
            Sed eget dapibus libero. Proin volutpat sem arcu.
            Donec id fringilla ipsum, non pharetra enim.
            Aenean in orci iaculis, tristique nisi ac, tempus eros.
            Mauris ipsum ex, ultrices sit amet congue at, ultrices feugiat nulla.
            In sagittis, tellus quis feugiat pellentesque, lectus orci dignissim nisl, sit amet finibus justo massa et elit.
            Quisque mattis, nibh a venenatis consectetur, lacus leo ornare augue, ut scelerisque leo nibh vitae erat.
            Ut finibus sagittis porttitor. Aenean mi dolor, sodales nec ligula pretium, tempus ultrices nisi.
            Nulla in ante tincidunt, fermentum neque id, euismod massa.
            Phasellus ipsum lacus, fringilla vitae mauris vel, dignissim volutpat lectus. Nulla eget orci eu libero molestie dignissim.
            Integer convallis dictum laoreet. Mauris quis est vitae nibh pellentesque fermentum quis nec est. Aliquam erat volutpat.
            Aenean sed lacus vel lacus scelerisque auctor. Nullam in ex quis nisl laoreet viverra. Donec finibus lorem vitae faucibus ultricies.
            Curabitur vel massa turpis. Vestibulum eu nisi dictum, ornare nisl et, iaculis leo.
            In suscipit, lectus sit amet scelerisque dictum, lectus mauris egestas ante, tincidunt dignissim dolor sem nec urna. Nulla facilisi.
            Integer sed quam neque. Pellentesque a ultricies nulla, sed malesuada leo. Curabitur suscipit mi in felis lacinia maximus.
            Curabitur aliquet ultricies nisl vel venenatis. Vestibulum leo felis, gravida a porttitor vehicula, sollicitudin quis justo.
            In aliquam erat sit amet diam scelerisque volutpat dignissim vitae justo. Nunc lorem lorem, rhoncus ut feugiat ut, eleifend quis nisi.
            Suspendisse interdum nisl non diam varius porttitor.
            Cras ut risus pharetra, tempus nibh nec, sagittis diam.
            Donec eget erat eget ipsum placerat volutpat a suscipit nisi. Cras efficitur augue sit amet lacus lobortis, cursus tempus lectus suscipit.
            Aliquam diam arcu, feugiat quis tincidunt nec, vulpu tate posuere magna. Cras sed varius mi. Donec vel elementum mauris, sed dignissim justo.
            Vivamus finibus condimentum ante, eget rutrum nibh. Curabitur vitae lacus imperdiet, vehicula purus ac, tristique enim.
            Donec sed justo lacus. Donec quis dui sed turpis congue viverra vitae vestibulum dolor.
            Vivamus sagittis, erat vitae semper commodo, mi augue bibendum orci, quis faucibus elit nisl vel est. Aliquam mattis ultricies fermentum. Morbi in convallis ante, auctor dignissim quam.
            Proin est arcu, faucibus nec felis sit amet, dapibus scelerisque velit. Vivamus nec ligula justo.
            Vestibulum augue ante, tristique eget lectus id, malesuada placerat libero. Sed eu lectus nulla.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Aliquam vel odio lorem. Nunc est diam, pharetra eu vehicula sodales, gravida rutrum ligula.
            Pellentesque bibendum porta dui. Pellentesque nunc magna, efficitur eget euismod a, elementum at justo.
            Nam finibus, velit sed condimentum condimentum, est diam pharetra ligula, ac congue urna dui nec odio.
            Proin malesuada pretium nunc a convallis. Proin lobortis nisl leo, non feugiat metus tempus eu. Nullam at mollis lorem.
            </p>
        </div>


{% endblock %}

{% block title %}{{ parent()}} | Home{% endblock %}